// Project fonts
$marianna-font-family = Marianna
$marianna-font-base-path = "../fonts/Marianna/"

$cormorant-font-family = "Cormorant Garamond"
$cormorant-font-base-path = "../fonts/Cormorant/"

$minion-font-family = "Minion Pro"
$minion-font-base-path = "../fonts/MinionPro/"

$fonts-formats = woff2 woff

font-face(
    local_name: "Minion Pro",
	family: $minion-font-family,
	file-name: "MinionProSemiboldItalic",
	base-path: $minion-font-base-path,
	formats: $fonts-formats,
	weight: 600,
	style: italic
)

font-face(
    local_name: "Marianna",
	family: $marianna-font-family,
	file-name: "marianna",
	base-path: $marianna-font-base-path,
	formats: $fonts-formats,
	weight: 400,
	style: normal
)

font-face(
    local_name: "Cormorant Garamond Regular",
	family: $cormorant-font-family,
	file-name: "cormorant-garamond-v7-latin_cyrillic-regular",
	base-path: $cormorant-font-base-path,
	formats: $fonts-formats,
	weight: 400,
	style: normal
)

// font-face(
//     local_name: "Marianna",
// 	family: $marianna-font-family,
// 	file-name: "Marianna-400",
// 	base-path: $marianna-font-base-path,
// 	formats: $fonts-formats,
// 	weight: 400,
// 	style: normal
// )

// font-face(
//     local_name: "Marianna",
// 	family: $marianna-font-family,
// 	file-name: "Marianna-italic",
// 	base-path: $marianna-font-base-path,
// 	formats: $fonts-formats,
// 	style: italic
// )

// font-face(
//     local_name: "Marianna",
// 	family: $marianna-font-family,
// 	file-name: "Marianna-500",
// 	base-path: $marianna-font-base-path,
// 	formats: $fonts-formats,
// 	weight: 500,
// 	style: normal
// )

// font-face(
//     local_name: "Marianna",
// 	family: $marianna-font-family,
// 	file-name: "Marianna-700",
// 	base-path: $marianna-font-base-path,
// 	formats: $fonts-formats,
// 	weight: 700,
// 	style: normal
// )

// font-face(
//     local_name: "Marianna",
// 	family: $marianna-font-family,
// 	file-name: "Marianna-900",
// 	base-path: $marianna-font-base-path,
// 	formats: $fonts-formats,
// 	weight: 900,
// 	style: normal
// )
