*,
*::after,
*::before
    box-sizing border-box

html
    font-family "Open Sans", Arial, Helvetica, sans-serif

body
    -moz-osx-font-smoothing grayscale
    -webkit-font-smoothing antialiased
    color $text-color

h1, h2, h3, h4, h5, h6, ul
    margin 0
    padding 0

ul
    list-style-type none

a
    display inline-block
    text-decoration none
    color $text-color

button
    appearance none
    padding 0
    margin 0
    background none
    border 0

.wrapper
    overflow hidden

.container
    container()
    sm(max-width, rem(540))
    md(max-width, rem(720))
    lg(max-width, rem(960))
    xl(max-width, rem(1140))
    xxl(max-width, rem(1210))

.section-title
    font-family $marianna-font-family
    font-weight 400
    font-size 50px
    text-align center
    margin-bottom 30px

    +xl-block() 
        font-size 70px
        margin-bottom 50px