section.section.section--coquette
    .container
        .coquette
            h2.section-title Кокетке
            svg.coquette__bg-svg(width='746' height='287' viewbox='0 0 746 287' fill='none' xmlns='http://www.w3.org/2000/svg')
                 rect(y='0.0979004' width='745.042' height='286.902' fill='#F3EAEB')

            //- svg(width='1180' height='317' viewbox='0 0 1180 317' fill='none' xmlns='http://www.w3.org/2000/svg')
            //-     path(d='M0 0.466064H1180V259.076L590 316.69L0 259.076V0.466064Z' fill='#F3EAEB')
            .coquette__flowers(data-relative-input="true")
                img(src="./img/coquette/flower.png", alt="Flowers" data-depth="0.2").coquette__bg-img
            +Slider([{
                img: "./img/coquette/slide-img1.png",
                title: "Платок женский «Флориссимо»",
                oldprice: "650",
                saleprice: "499"
            }, {
                img: "./img/coquette/slide-img2.png",
                title: "Пончо «Конкур»",
                oldprice: "2500",
                saleprice: "1999"
            }, {
                img: "./img/coquette/slide-img3.png",
                title: "Сумка «Конкур»",
                oldprice: "2500",
                saleprice: "1999"
            }, {
                img: "./img/coquette/slide-img4.png",
                title: "Ремень «Маркиза»",
                oldprice: "800",
                saleprice: "399"
            }, {
                img: "./img/coquette/slide-img5.png",
                title: "Колготки в горошек",
                oldprice: "500",
                saleprice: "399"
            }, {
                img: "./img/coquette/slide-img6.png",
                title: "Колготки в горошек",
                oldprice: "500",
                saleprice: "399"
            }],"coquette-prev-custom","coquette-next-custom").coquette-slider#coquette
        
        .bnt-row
            //- a(href="https://new.faberlic.com/ru/catalog/flash").particles-button.button.bnt.btn--pink Ещё больше подарков в каталоге
            <button class="action"><svg class="icon icon--rewind"><use xlink:href="#icon-rewind"></use></svg></button>
            //- <button class="particles-button">Upload</button>
            button().particles-button.button.bnt.btn--pink Ещё больше подарков в каталоге
        
        
        //- <div class="grid">
        //- <div class="grid__item theme-1">
        //- <button class="action"><svg class="icon icon--rewind"><use xlink:href="#icon-rewind"></use></svg></button>
        //- <button class="particles-button">Send</button>
        //- </div>
        //- <div class="grid__item theme-2">
        //- <button class="action"><svg class="icon icon--rewind"><use xlink:href="#icon-rewind"></use></svg></button>
        //- <button class="particles-button">Upload</button>
        //- </div>
        //- <div class="grid__item theme-3">
        //- <button class="action"><svg class="icon icon--rewind"><use xlink:href="#icon-rewind"></use></svg></button>
        //- <button class="particles-button">Delete</button>
        //- </div>
        //- <div class="grid__item theme-4">
        //- <button class="action"><svg class="icon icon--rewind"><use xlink:href="#icon-rewind"></use></svg></button>
        //- <button class="particles-button">Submit</button>
        //- </div>
        //- <div class="grid__item theme-5">
        //- <button class="action"><svg class="icon icon--rewind"><use xlink:href="#icon-rewind"></use></svg></button>
        //- <button class="particles-button">refresh</button>
        //- </div>
        //- <div class="grid__item theme-6">
        //- <button class="action"><svg class="icon icon--rewind"><use xlink:href="#icon-rewind"></use></svg></button>
        //- <button class="particles-button">Bookmark</button>
        //- </div>
        //- <div class="grid__item theme-7">
        //- <button class="action"><svg class="icon icon--rewind"><use xlink:href="#icon-rewind"></use></svg></button>
        //- <button class="particles-button">Subscribe</button>
        //- </div>
        //- <div class="grid__item theme-8">
        //- <button class="action"><svg class="icon icon--rewind"><use xlink:href="#icon-rewind"></use></svg></button>
        //- <button class="particles-button">Logout</button>
        //- </div>
        //- <div class="grid__item theme-9">
        //- <button class="action"><svg class="icon icon--rewind"><use xlink:href="#icon-rewind"></use></svg></button>
        //- <button class="particles-button">Add to cart</button>
        //- </div>
        //- <div class="grid__item theme-10">
        //- <button class="action"><svg class="icon icon--rewind"><use xlink:href="#icon-rewind"></use></svg></button>
        //- <button class="particles-button">Pause</button>
        //- </div>
        //- <div class="grid__item theme-11">
        //- <button class="action"><svg class="icon icon--rewind"><use xlink:href="#icon-rewind"></use></svg></button>
        //- <button class="particles-button">Register</button>
        //- </div>
        //- <div class="grid__item theme-12">
        //- <button class="action"><svg class="icon icon--rewind"><use xlink:href="#icon-rewind"></use></svg></button>
        //- <button class="particles-button">Export</button>
        //- </div>
        //- </div>