section.section.section--banner
    .container
        .banner
            img.banner__img.banner__img--mobile(src="./img/banners/banner320.jpg", alt="8 Марта")
            img.banner__img.banner__img--desktop(src="./img/banners/banner.jpg", alt="8 Марта")