.swiper-button-next-custom,
.swiper-button-prev-custom 
    position absolute
    top 50%
    transform translateY(-50%)
    z-index 10
    cursor pointer
    display flex
    align-items center
    justify-content center

.swiper-button-next-custom
    right -20px
.swiper-button-prev-custom
    left -20px