.card {
   text-align: center;
   margin: 0 auto;
   position:relative;
   border-radius: 0.2em;
   background: rgba(255, 255, 255, 0.7);
   padding: 1em;
   overflow: hidden;
   padding-top: 1em;
//    transition all .1s linear
}