footer.footer
    .container
        .footer__wrap
            .footer__col.footer__about
                .footer__nav
                    .footer__nav-title
                        a(href="#") О КОМПАНИИ
                    ul.footer__nav-list
                        li.footer__nav-item
                            a(href="").footer__nav-link История успеха
                        li.footer__nav-item
                            a(href="").footer__nav-link Научные разработки
                        li.footer__nav-item
                            a(href="").footer__nav-link Собственное производство
                        li.footer__nav-item
                            a(href="").footer__nav-link Пресса о нас
                        li.footer__nav-item
                            a(href="").footer__nav-link Акции
                        li.footer__nav-item
                            a(href="").footer__nav-link Накопительная программа
                        li.footer__nav-item
                            a(href="").footer__nav-link Новости компании

            .footer__col.footer__servises
                .footer__nav
                    .footer__nav-title
                        a(href="") СЕРВИС
                    ul.footer__nav-list
                        li.footer__nav-item
                            a(href="").footer__nav-link Как оформить заказ
                        li.footer__nav-item
                            a(href="").footer__nav-link Доставка
                        li.footer__nav-item
                            a(href="").footer__nav-link Способы оплаты
                        li.footer__nav-item
                            a(href="").footer__nav-link Возврат товара
                        li.footer__nav-item
                            a(href="").footer__nav-link Вопросы и ответы
                        li.footer__nav-item
                            a(href="").footer__nav-link Задать вопрос

            .footer__col
                ul.footer__additionally
                    li.footer__additionally-item
                        a(href="#").footer__additionally-link 
                            +icon("partners")
                            span ПАРТНЕРСТВО
                    li.footer__additionally-item
                        a(href="#").footer__additionally-link 
                            +icon("map-mark")
                            span ПУНКТЫ ВЫДАЧИ
                    li.footer__additionally-item
                        a(href="#").footer__additionally-link 
                            +icon("mobile")
                            span МОБИЛЬНЫЕ ПРИЛОЖЕНИЯ
                    li.footer__additionally-item
                        a(href="#").footer__additionally-link 
                            +icon("desktop")
                            span НОВОСТИ БИЗНЕСА
            .footer__col.footer__col--socials
                .footer__apps
                    a(href="#").footer__apps-link
                        img(src="./img/icons/appstore.png", alt="").footer__apps-icon
                    a(href="#").footer__apps-link
                        img(src="./img/icons/googleplay.png", alt="").footer__apps-icon
                ul.footer__socials
                    li.footer__socials-item
                        a(href="#").footer__socials-link
                            +icon("vk").footer__socials-icon
                    li.footer__socials-item
                        a(href="#").footer__socials-link
                            +icon("ok").footer__socials-icon
                    li.footer__socials-item
                        a(href="#").footer__socials-link
                            +icon("yt").footer__socials-icon
                    li.footer__socials-item
                        a(href="#").footer__socials-link
                            +icon("fb").footer__socials-icon
                    li.footer__socials-item
                        a(href="#").footer__socials-link
                            +icon("tw").footer__socials-icon
                    li.footer__socials-item
                        a(href="#").footer__socials-link
                            +icon("im").footer__socials-icon
                    li.footer__socials-item
                        a(href="#").footer__socials-link
                            +icon("gplus").footer__socials-icon
                        
                .footer__copyright Copyright © 2017 ОАО “Фаберлик” Кислородная косметика и парфюмерия
                        